.site-footer {
  min-width: 550px;
  background-color: #847462;
  color: #ffffff;
}


.tablitsa {
text-align: center;
font-size: 55px;	
}

.aga {
list-style: none;
border-left: 20px solid #FF6347;
padding-left: 20px;
margin-bottom: 15px;
color: #FF6347;
font-family: Georgia, serif;	
}

.site-footer .container {
  text-align: center;
  margin-top: 300px;	
}


.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

.container {
  width: 510px;
  margin: 0 auto;
  padding: 0 20px;
}

